@font-face {
    font-family: quicksand;
    src: url("fonts/Quicksand-Light.otf");
	font-weight: bold;
}
@font-face {
    font-family: quicksand;
    src: url("fonts/Regular.otf");
}
body{
    font-family: quicksand;
	background-image: url("bg.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	font-size:30px;
}
.hello{
font-family: quicksand;
position: absolute;
display: block;
width:200px;
padding: 0.67em;
top: 50%;
left: 50%;
margin-left:-100px;
text-align:center;
border: 2px solid #000000;
}
a{
}
a:hover{
font-size: 0;
}
a:hover:before{
font-size:30px;
content: attr(data-hover);
}
a:link {
    color: black;
    text-decoration: none;
	font-weight: bold;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    text-decoration: none;
}
.Cons{
font-family: quicksand;
position: absolute;
display: block;
width:400px;
padding: 0.67em;
top: 50%;
left: 50%;
margin-left:-200px;
text-align:center;
border: 2px solid #000000;
}
.scroll{
font-family: quicksand;
font-size:.6em;
position: absolute;
display: block;
padding: 1.5em;
top: 10em;
left: 50%;
margin-left:-25em;
width: 50em;
height: 100%;
text-align:center;
border: 1px solid #2b132b;
background-image: url(textbox.png);
}
.nav{
position: fixed;
display: block;
padding: 1.5em;
top: 0;
left: 50%;
width: 50em;
height: 1 em;
margin-left:-25em;
text-align:center;
border: 1px solid #2b132b;
background-image: url(textbox.png);
}
.nav-content{
position: fixed;
display: none;
padding: 1.5em;
top: 0;
left: 50%;
width: 50em;
height: 1 em;
margin-left:-25em;
text-align:center;
border: 1px solid #2b132b;
z-index: 1;
background-color: #f9f9f9;
}
.nav:hover  + .nav-content{
display: block;
}

